body {
  background: #0092DF;
  color: #fff;
}

header {
  width: 80%;
  margin: 10vh auto 5vh auto;
  display: flex;
  justify-content: center;
  align-items: center;
  .wrapper {
    display: flex;
    justify-content: center;
    width: 35%;
    font-weight: bold;
    p {
      padding: 0 10px;
    }
  }
  button {
    background: none;
    border: none;
    color: #fff;
    outline: none;
    cursor: pointer;
    &:hover {
      color: darken(#0092DF,10%);
    }
  }
}

p {
  margin: 0;
  padding: 0;
}

main {
  width: 80%;
  margin: 0 auto;
  .week-days {
    display: flex;
    width: 100%;
    text-align: center;
    margin-bottom: 5vh;
    p {
      width: calc(100%/7);
    }
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(80vw/7);
      height: 12vh;
      cursor: pointer;
      border: 1px solid rgba(0,0,0,0);
      box-sizing: border-box;
      margin: 0;
      &:hover {
        background: rgba(0,0,0, 0.05);
      }
    }
    .other-date {
      color: darken(#0092DF,10%);
    }
    .selected {
      background: darken(#0092DF, 5%);
    }
  }
}
